/* Body e layout geral */
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    margin: 0;
    font-family: Arial, sans-serif;
    overflow-x: hidden;
}

header {
    background-color: white;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.1);
    text-align: center;
    padding: 1em;
    z-index: 1;
}


.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 220px; /* Ajuste a posição conforme necessário */
    height: 50px; /* Reduz a altura da logo */
}

.logo img {
    max-height: 100px; /* Diminui a altura máxima da imagem */
    height: auto;
    width: auto;
    margin-top: -10px; /* Ajusta a posição vertical, se necessário */
}

/* Sidebar */
.sidebar {
    width: 250px; /* Aumenta a largura da sidebar */
    background-color: #2e7d32;
    padding: 1em;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    z-index: 2;
    color: white;
}
/* Logo na Sidebar */
.sidebar img {
    max-width: 80%; /* Ajuste para ocupar até 80% da largura da sidebar */
    height: auto;
    width: 80px; /* Defina uma largura específica menor */
    margin-bottom: 1em; /* Espaçamento abaixo da logo */
}


.sidebar a {
    display: block;
    color: white;
    padding: 10px; /* Ajuste o padding conforme desejado */
    font-size: 1em; /* Ajuste o tamanho da fonte conforme necessário */
    text-decoration: none;
}

.sidebar a:hover {
    background-color: #ddd;
    color: black;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 1em;
    background-color: white;
    color: black;
    margin-left: 250px; /* Ajusta conforme a nova largura da sidebar */
}


/* Container centralizado */
.container {
    display: flex;
    flex-direction: column;
    margin: 1em auto;
    padding: 1em;
    max-width: 60%; /* Reduz a largura do container */
    background-color: #f9f9f9;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.05);
    margin-right: 280px; 
}
.container h2 {
    text-align: center;
    width: 100%; /* Garante que o título ocupe toda a largura do container */
    margin: 0 auto 1em; /* Centraliza e adiciona espaçamento inferior */
    color: #333; /* Exemplo de cor, ajuste conforme necessário */
    margin-left: 100px;
}


/* Tabela */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 1em;
    font-size: 0.9em; /* Reduz o tamanho da fonte */
}

table th, table td {
    padding: 8px; /* Reduz o padding */
    border: 1px solid #ccc;
    text-align: left;
}

table th {
    background-color: #2e7d32;
    color: white;
}

table tr:nth-child(even) {
    background-color: #f2f2f2;
}

/* Botões */
.btn-demitir {
    padding: 5px 10px; /* Reduz o padding do botão */
    background-color: #d9534f;
    color: white;
    border: none;
    border-radius: 3px;
    font-size: 0.8em; /* Reduz o tamanho da fonte */
    cursor: pointer;
}

.btn-demitir:hover {
    background-color: #c9302c;
}


footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 1em;
    background-color: white;
    color: black;
    margin-left: 100px; /* Ajusta conforme a nova largura da sidebar */
}
