body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #eeeeee;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.header {
    width: 100%;
    display: flex;
    justify-content: center;
    z-index: 1;
    padding: 10px 0;
}

.header img.main-logo {
    width: 420px; 
}

.login-container {
    background-color: #ffffff;
    margin: auto; /* centraliza verticalmente */
    padding: 30px 50px;
    border-radius: 20px;
    color: black;
    text-align: center;
    width: 350px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
}

.login-container h1 {
    margin-bottom: 20px;
    color: #333;
}

input {
    padding: 15px;
    border-radius: 50px;
    outline: none;
    font-size: 15px;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #ccc;
    margin-bottom: 20px;
    padding-left: 40px;
    position: relative;
}

input[type="email"]::before {
    content: '\1F4E7'; 
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 18px;
    color: #555;
}

input[type="password"]::before {
    content: '\1F512'; 
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 18px;
    color: #555;
}

.password-container {
    position: relative;
}

#togglePassword {
    position: absolute;
    right: 10px;
    top: 35%; /* Mover um pouco mais para cima */
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 18px; /* Tamanho do ícone */
    color: #555; /* Cor do ícone */
}

button {
    background-color: #0a74059f;
    border: none;
    padding: 15px;
    width: 100%;
    border-radius: 50px;
    color: white;
    font-size: 15px;
    transition: all 0.8s;
}

button:hover {
    background-color: #950000;
    cursor: pointer;
}

.footer {
    width: 100%;
    position: fixed; /* Para mantê-lo sempre na parte inferior */
    bottom: 0;
    color: black;
    text-align: center; /* Centraliza o texto dentro do footer */
    padding: 10px 0;
}

.footer p {
    margin: 0; /* Remove a margem padrão para o parágrafo */
}

a {
    color: #0a74059f;
}

a:hover {
    text-decoration: underline;
    color: red;
    transition: all 0.8s; 
}